.appwrapper {
  width: min(100% - 20px, 1800px);
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.appwrapper__form {
  display: flex;
  flex-direction: column;
  max-width: 25%;
  width: 100%;
  top: 0;
  left: 0;
  margin-bottom: 64px;
  /* border: 1px solid red; */
}

.appwrapper__data {
  font-family: 'Istok Web', sans-serif;
  max-width: calc(75% - 20px);
  width: 100%;
  /* border: 1px solid blue; */
  box-sizing: border-box;
  max-height: 100vh;
  overflow-y: scroll;
  padding: 20px;
}