button {
  cursor: pointer;
}
.button {
  cursor: pointer;
  outline: none;
  font-family: 'Istok Web', sans-serif;
  font-weight: 700;
  font-size: 20px;
  border: 2px solid;
  background-color: transparent;
  padding: 10px;
  color: #000;
}

.button__add {
  flex-grow: 4;
  color: var(--text-color1);
  border-color: var(--color1);
  background-color: var(--color1);
}
.button__add:hover {
  color: var(--text-color1);
  border-color: var(--color2);
  background-color: var(--color2);
}
.button__add:active {
  color: var(--text-color1);
  border-color: var(--color3);
  background-color: var(--color3);
}

.button__all-done {
  flex-grow: 1;
  border-color: var(--color1);
  color: var(--color1);
}
.button__all-done:hover {
  border-color: var(--color2);
  color: var(--color2);
}
.button__all-done:active {
  border-color: var(--color3);
  color: var(--color3);
}

.data-item__remove {
  min-width: 50px;
  min-height: 50px;
  max-height: 50px;
  border-radius: 50%;
  border: none;
  margin: 10px;
}